/* Globals */
@import url('base/reset.css');
@import url('base/layout.css');
@import url('base/typography.css');
@import url('base/variables.css');

/* Components */
@import url('components/hero.css');
@import url('components/main-sections-intro.css');
@import url('components/faq.css');
@import url('components/contact-form.css');
@import url('components/drawer.css');
@import url('components/navbar.css');
@import url('components/contact-links.css');
@import url('components/social-links.css');
@import url('components/cta-btn.css');
@import url('components/secondary-btn.css');
@import url('components/icon-items.css');
@import url('components/agency-logo.css');

/* Home */
@import url('pages/home/trusted-by.css');
@import url('pages/home/our-services.css');
@import url('pages/home/benefits.css');
@import url('pages/home/testimonials.css');
@import url('pages/home/contact.css');
