.about-page :is(.about-intro, .about-story) {
    padding-top: var(--space-10);
}

.about-page .about-intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding-inline: var(--space-5);
    padding-bottom: var(--space-9);
    border-bottom: solid 1px var(--color-border-accent-grey);
}

.about-page :is(.about-intro__title, .about-story__title) {
    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-2);
}

.about-page .about-story__title {
    padding-bottom: var(--space-10);
    padding-inline: var(--space-5);
    margin-bottom: 0;
    border-bottom: solid 1px var(--color-border-accent-grey);
}

.about-page .about-story__list {
    display: grid;
    grid-template-columns: 1fr;
}

.about-page .about-story__milestone {
    display: grid;
    padding-inline: var(--space-5);
    padding-block: var(--space-8);
    border-bottom: solid 1px var(--color-border-accent-grey);
}

.about-page .about-story__milestone:last-child {
    border-bottom: none;
}

.about-page .about-story__milestone-header {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-5);
}

.about-page .about-story__milestone-number {
    display: block;
    color: var(--color-text-accent-green-2);
    font-size: calc(var(--font-size-title-lg) * 2.3);
    font-weight: var(--font-weight-semibold);
    line-height: 1;
}

.about-page .about-story__milestone-title {
    color: var(--color-text-accent-green-2);
    font-size: var(--font-size-title-sm);
    font-weight: var(--font-weight-subtitle);
    line-height: var(--line-height-heading);
}

.about-page .about-story__milestone-text {
    color: var(--color-grey-200);
}

@media (min-width: 768px) {
    .about-page :is(.about-intro, .about-story) {
        padding-top: var(--space-12);
    }

    .about-page .about-intro {
        flex-direction: row;
        align-items: center;
        gap: var(--space-10);
        padding-inline: var(--space-10);
        padding-bottom: var(--space-10);
    }

    .about-page .about-intro__logo {
        width: 50%;
        max-width: 450px;
        height: auto;
    }

    .about-page .about-story__title {
        padding-inline: var(--space-10);
        padding-bottom: var(--space-12);
    }

    .about-page .about-story__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .about-page .about-story__milestone {
        grid-template-rows: subgrid;
        grid-row: span 2;
        padding: var(--space-10);
    }

    .about-page .about-story__milestone:nth-child(even) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .about-page .about-story__milestone:nth-last-child(2) {
        border-bottom: none;
    }
}

@media (min-width: 1024px) {
    .about-page :is(.about-intro, .about-story) {
        padding-top: var(--space-16);
    }

    .about-page .about-intro {
        gap: var(--space-16);
    }

    .about-page .about-story__title {
        padding-bottom: var(--space-16);
    }
}