.about-page :is(.about-intro, .about-story) {
    padding-top: var(--space-10);
}

.about-page .about-intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding-inline: var(--space-5);
    padding-bottom: var(--space-9);
    border-bottom: solid 1px var(--color-border-accent-grey);
}

.about-page :is(.about-intro__title, .about-story__title) {
    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-2);
}

.about-page .about-story__title {
    padding-bottom: var(--space-10);
    padding-inline: var(--space-5);
    margin-bottom: 0;
    border-bottom: solid 1px var(--color-border-accent-grey);
}

@media (min-width: 768px) {
    .about-page :is(.about-intro, .about-story) {
        padding-top: var(--space-12);
    }

    .about-page .about-intro {
        flex-direction: row;
        align-items: center;
        gap: var(--space-10);
        padding-inline: var(--space-10);
        padding-bottom: var(--space-10);
    }

    .about-page .about-intro__logo {
        width: 50%;
        max-width: 450px;
        height: auto;
    }

    .about-page .about-story__title {
        padding-inline: var(--space-10);
        padding-bottom: var(--space-12);
    }
}

@media (min-width: 1024px) {
    .about-page :is(.about-intro, .about-story) {
        padding-top: var(--space-16);
    }

    .about-page .about-intro {
        gap: var(--space-16);
    }

    .about-page .about-story__title {
        padding-bottom: var(--space-16);
    }
}