.home-page .benefits__list {
    display: grid;
    grid-template-columns: 1fr;
}

.home-page .benefits__item {
    display: grid;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-10);
}

.home-page .benefits__item:last-child {
    border-bottom: none;
}

.home-page .benefit {
    display: grid;
}

.home-page .benefit__header {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-5);
}

.home-page .benefit__title {
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
}

@media (min-width: 768px) {
    .home-page .benefits__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .home-page .benefits__item {
        grid-template-rows: subgrid;
        grid-row: span 2;
        padding: var(--space-10);
    }

    .home-page .benefits__item:nth-child(even) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .home-page .benefits__item:nth-last-child(2) {
        border-bottom: none;
    }

    .home-page .benefit {
        grid-template-rows: subgrid;
        grid-row: span 2;
    }
}