.home-page .benefits__list {
    display: flex;
    flex-direction: column;
}

.home-page .benefits__item {
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-10);
}

.home-page .benefits__item:last-child {
    border: none;
}

.home-page .benefit {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-page .benefit__header {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-5);
}

.home-page .benefit__title {
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
}

@media (min-width: 768px) {
    .home-page .benefits__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .home-page .benefits__item {
        flex: 1 1 45%;
        padding: var(--space-10);
    }

    .home-page .benefits__item:nth-child(2) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .home-page .benefits__item:nth-child(3) {
        border: none;
    }

    .home-page .benefits__item:last-child {
        border-left: solid 1px var(--color-border-accent-grey);
    }
}