.home-page .our-services__list {
    display: flex;
    flex-direction: column;
}

.home-page .our-services__item {
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-8);
    padding-block: var(--space-10);
}

.home-page .our-services__item:last-child {
    border: none;
}

.home-page .our-services__article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-page .our-services__header-article {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-5);
}

.home-page .our-services__subtitle {
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
}

.home-page .our-services__description {
    margin-bottom: var(--space-8);
}

@media (min-width: 1024px) {
    .home-page .our-services__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .home-page .our-services__item {
        flex: 1 1 45%;
        padding: var(--space-12);
    }

    .home-page .our-services__item:nth-child(2) {
        border-left: solid 1px var(--color-border-accent-grey);
    }
}