.home-page .our-services__list {
    display: grid;
    grid-template-columns: 1fr;
}

.home-page .our-services__item {
    display: grid;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-10);
}

.home-page .our-services__item:last-child {
    border-bottom: none;
}

.home-page .our-service {
    display: grid;
}

.home-page .our-service__header {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-5);
}

.home-page .our-service__title {
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
}

.home-page .our-service__description {
    margin-bottom: var(--space-8);
}

@media (min-width: 768px) {
    .home-page .our-services__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .home-page .our-services__item {
        grid-template-rows: subgrid;
        grid-row: span 3;
        padding: var(--space-10);
    }

    .home-page .our-services__item:nth-child(2) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .home-page .our-services__item:last-child {
        grid-column: span 2;
    }

    .home-page .our-service {
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
}

@media (min-width: 1280px) {
    .home-page .our-services__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-page :is(.our-services__item:first-child, .our-services__item:nth-child(2)) {
        border-bottom: none;
    }

    .home-page .our-services__item:last-child {
        grid-column: span 1;
        border-left: solid 1px var(--color-border-accent-grey);
    }
}