.home-page .testimonials__list {
    display: grid;
    grid-template-columns: 1fr;
}

.home-page .testimonials__item {
    display: grid;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-10);
}

.home-page .testimonials__item:last-child {
    border: none;
}

.home-page .testimonial {
    display: grid;
}

.home-page .testimonial__title {
    display: flex;
    align-items: center;
    color: var(--color-text-accent-green-2);
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-5);
}

.home-page .testimonial__author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-3);
    margin-top: var(--space-6);
    border: solid 1px var(--color-border-accent-grey);
    border-radius: var(--radius-md);
}

.home-page .testimonial__author-details {
    display: flex;
    align-items: center;
}

.home-page .testimonial__author-logo {
    margin-right: var(--space-4);
}

.home-page .testimonial__author-name {
    font-style: normal;
    font-size: var(--font-size-text-lg);
    font-weight: var(--font-weight-medium);
}

@media (min-width: 768px) {
    .home-page .testimonials__item {
        padding: var(--space-10);
    }
}

@media (min-width: 1024px) {
    .home-page .testimonials__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .home-page .testimonials__item {
        grid-template-rows: subgrid;
        grid-row: span 3;
    }

    .home-page .testimonials__item:nth-child(even) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .home-page .testimonials__item:nth-last-child(2) {
        border-bottom: none;
    }

    .home-page .testimonial {
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
}
