.home-page .testimonials__intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../images/banners/banner-digital-wave-3.webp');
}

.home-page .testimonials__list {
    display: flex;
    flex-wrap: wrap;
}

.home-page .testimonials__item {
    flex: 1;
    flex-basis: 447px;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-8);
    padding-block: var(--space-10);
}

.home-page .testimonials__item:last-child {
    border: none;
}

.home-page .testimonials__article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-page .testimonials__subtitle {
    color: var(--color-text-accent-green-2);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-5);
}

.home-page .testimonials__quote {
    flex: 1;
}

.home-page .testimonials__author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-3);
    margin-top: var(--space-6);
    border: solid 1px var(--color-border-accent-grey);
    border-radius: var(--radius-md);
}

.home-page .testimonials__author-details {
    display: flex;
}

.home-page .testimonials__author-logo {
    margin-right: var(--space-4);
}

.home-page .testimonials__author-name {
    font-style: normal;
    font-size: var(--font-size-text-lg);
    font-weight: var(--font-weight-medium);
}

.home-page .testimonials .btn--secondary {
    display: none;
    white-space: nowrap;
    margin-left: var(--space-3);
}

@media (min-width: 768px) {
    .home-page .testimonials .btn--secondary {
        display: block;
    }   
}

@media (min-width: 1024px) {
    .home-page .testimonials__item {
        padding: var(--space-12);
    }

    .home-page .testimonials__item:nth-child(2) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .home-page .testimonials__item:nth-child(4) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .home-page .testimonials__item:nth-child(5) {
        border: none;
    }

    .home-page .testimonials__item:nth-child(6) {
        border-left: solid 1px var(--color-border-accent-grey);
    }
}
