.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header, footer {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--color-background-primary);
    border-bottom: 1px solid var(--color-border-accent-grey);
}

footer {
    border-top: 1px solid var(--color-border-accent-grey);
}

header .container, footer .container {
    display: flex;
    max-width: var(--width-container-max);
    margin-inline: auto;
    padding-inline: var(--space-container-gutter);
}

header .container {
    justify-content: space-between;
    align-items: center;
    margin-block: var(--space-10) var(--space-6);
}

header .btn--cta {
    display: none;
}

footer .container {
    flex-direction: column;
    margin-block: var(--space-8);
}

main {
    flex: 1;
    max-width: var(--width-container-max);
    margin-inline: auto; 
}

main > section {
    border-inline: 1px solid var(--color-border-accent-grey);
    border-bottom: 1px solid var(--color-border-accent-grey);
    margin-inline: var(--space-container-gutter);
}

main > section:last-child {
    border-bottom: none;
}

@media (min-width: 1024px) {
    header .container {
        margin-block: var(--space-5);
    }

    .header__hamburger {
        display: none;
    }

    header .btn--cta {
        display: flex;
    }
}