.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header, footer {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: var(--layer-z-header);
    background-color: var(--color-background-primary);
    border-bottom: 1px solid var(--color-border-accent-grey);
}

footer {
    border-top: 1px solid var(--color-border-accent-grey);
}

header .container, footer .container {
    display: flex;
    max-width: var(--width-container-max);
    margin-inline: auto;
    padding-inline: var(--space-container-gutter);
}

header .container {
    justify-content: space-between;
    align-items: center;
    margin-block: var(--space-5);
}

footer .container {
    flex-direction: column;
    margin-block: var(--space-8);
}

.footer__copy {
    color: var(--color-grey-200);
    text-align: center;
    margin-top: var(--space-4);
}

main {
    flex: 1;
    max-width: var(--width-container-max);
    margin-inline: auto; 
}

main > section {
    border-inline: 1px solid var(--color-border-accent-grey);
    border-bottom: 1px solid var(--color-border-accent-grey);
    margin-inline: var(--space-container-gutter);
}

main > section:last-child {
    border-bottom: none;
}

@media (min-width: 1024px) {
    .header__hamburger {
        display: none;
    }

    .footer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px var(--color-border-accent-grey);
        padding-bottom: var(--space-8);
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: var(--space-6);
    }
}