.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    margin: var(--space-8);
}

.contact-form__container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-6);
}

.contact-form__field {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    flex-basis: 500px;
    gap: var(--space-2);
}

@media (min-width: 1024px) {
    .contact-form {
        margin-block: var(--space-16);
        margin-inline: calc(var(--space-20) * 1.5);
        gap: var(--space-8);
    }

    .contact-form__container {
        gap: var(--space-8);
    }

    .contact-form__field {
        gap: var(--space-3);
    }

    .contact-form__field:has(.contact-form__label[for="name"]), .contact-form__field:has(.contact-form__label[for="email"]) {
        flex-basis: 300px;
    }
}