.contact-links__list {
    margin-top: var(--space-6);
}

.contact-links__item {
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-block: var(--space-4);
}

.contact-links__link {
    display: flex;
    align-items: center;
    width: max-content;
    font-weight: var(--font-weight-body);
    margin-inline: auto;
}

.contact-links__icon {
    display: inline-block;
    margin-right: var(--space-2);
}

.contact-page .contact .contact-links__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    margin-top: 0;
    padding-inline: var(--space-5);
    padding-bottom: var(--space-8);
    border-bottom: solid 1px var(--color-border-accent-grey);
}

.contact-page .contact .contact-links__item {
    border-bottom: none;
    padding-block: 0;
}

.contact-page .contact .contact-links__link {
    display: flex;
    justify-content: center;
    background-color: var(--color-background-accent-grey-2);
    transition: background-color var(--motion-duration-medium) var(--motion-ease);
    border-radius: var(--radius-md);
    width: 100%;
    white-space: nowrap;
    padding-block: var(--space-4);
}

.contact-page .contact .contact-links__link:hover {
    background-color: var(--color-background-hover-grey-2);
}

@media (min-width: 768px) {
    .contact-page .contact .contact-links__list {
        flex-direction: row;
        justify-content: center;
        padding-inline: var(--space-10);
        padding-bottom: var(--space-10);
    }

    .contact-page .contact .contact-links__link {
        padding-inline: var(--space-5);
        width: auto;
    }
}

@media (min-width: 1024px) {
    .contact-links__list {
        display: flex;
        gap: var(--space-5);
        margin-top: 0;
    }
}