.btn--cta {
    display: block;
    color: var(--color-text-accent-black);
    background-color: var(--color-background-accent-green-1);
    transition: color var(--motion-duration-medium) var(--motion-ease), background-color var(--motion-duration-medium) var(--motion-ease);
    padding-block: var(--space-3);
    padding-inline: var(--space-5);
    border-radius: var(--radius-md);
}

.btn--cta:hover {
    color: var(--color-text-accent-green-1);
    background-color: var(--color-background-hover-grey-1);
}

header .btn--cta {
    display: none;
}

.drawer .btn--cta {
    padding-block: var(--space-2);
    margin-top: var(--space-6);
    text-align: center;
}

.home-page .contact__intro .btn--cta {
    margin-inline: auto;
    margin-top: var(--space-8);
    width: max-content;
}

@media (min-width: 1024px) {
    header .btn--cta {
        display: block;
    }
    
    .contact-form .btn--cta {
        width: max-content;
        padding-inline: var(--space-8);
        margin-inline: auto;
    }
}