.drawer {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform var(--motion-duration-medium) var(--motion-ease);
    justify-content: flex-end;
    width: 100%;
    height: 100dvh;
    max-width: none;
    max-height: none;
    background: none;
    border: none;
}

.drawer::backdrop {
    background-color: var(--color-background-overlay);
}

.is-close-drawer {
    display: flex;
    transform: translateX(100%);
}

.drawer[open]:not(.is-close-drawer) {
    display: flex;
    transform: translateX(0%);
}

.drawer__wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-primary);
    width: 80%;
}

.drawer__panel-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-5);
    padding-top: var(--space-10);
    padding-bottom: var(--space-5);
    margin-bottom: var(--space-5);
    border-bottom: 1px solid var(--color-border-accent-grey);
}

.drawer__content {
    padding-inline: var(--space-3);
}

@starting-style {
    .drawer[open]:not(.is-close-drawer) {
        transform: translateX(100%);
    }
}