.faqs__list {
    column-count: 1; 
    column-gap: 0;
    column-rule: none;
}

.faqs__item {
    display: inline-block;
    break-inside: avoid; 
    width: 100%;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-10);
}

.faqs__item:last-child {
    border-bottom: none;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
}

.faq__question:hover {
    cursor: pointer;
}

.faq__title {
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
    transition: color var(--motion-duration-fast) var(--motion-ease);
}

.faq details[open] .faq__title {
    color: var(--color-text-accent-green-1);
}

.faq__answer {
    margin-top: var(--space-4);
}

@media (min-width: 768px) {
    .faqs__item {
        padding: var(--space-10);
    }
}

@media (min-width: 1024px) {
    .faqs__list {
        column-count: 2; 
        column-rule: solid 1px var(--color-border-accent-grey);
    }

    .faqs__item:first-child, .faqs__item:nth-child(3) {
        border-top: solid 1px var(--color-border-accent-grey);
        margin-top: var(--space-12);
    }

    .faqs__item:nth-child(2) {
        margin-bottom: var(--space-12);
    }

    .faqs__item:last-child {
        border-bottom: solid 1px var(--color-border-accent-grey);
        margin-bottom: var(--space-12);
    }
}