.faqs__container {
    display: flex;
    flex-direction: column;
}

.faqs__column {
    display: flex;
    flex-direction: column;
}

.faqs__item {
    display: block;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-10);
}

.faqs__column:last-child .faqs__item:last-child {
    border-bottom: none;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
}

.faq__question:hover {
    cursor: pointer;
}

.faq__title {
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-heading);
    transition: color var(--motion-duration-fast) var(--motion-ease);
}

.faq details[open] .faq__title {
    color: var(--color-text-accent-green-1);
}

.faq__answer {
    margin-top: var(--space-4);
}

@media (min-width: 768px) {
    .faqs__container {
        flex-direction: row;
    }

    .faqs__column {
        padding-block: var(--space-12);
        flex: 1 1 50%;
    }

    .faqs__column:first-child {
        border-right: solid 1px var(--color-border-accent-grey);
    }

    .faqs__item {
        padding: var(--space-10);
        border-top: solid 1px var(--color-border-accent-grey);
    }

    .faqs__item:nth-child(n+2) {
        border-top: none;
    }

    .faqs__column:last-child .faqs__item:last-child {
        border-bottom: solid 1px var(--color-border-accent-grey);
    }
}