.home-page .hero {
    position: relative;
    z-index: var(--layer-z-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-page .hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../../images/background-digital-mountain.webp');
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: center bottom;
    opacity: 0.3; 
    z-index: var(--layer-z-hide);
}

.home-page .hero__display {
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-display);
    line-height: var(--line-height-tight);
    margin-block: var(--space-20) var(--space-8);
    margin-inline: var(--space-4);
}

.home-page .hero__audience-text {
    color: var(--color-grey-200);
    background-color: var(--color-background-primary);
    border: solid 1px var(--color-border-accent-grey);
    border-radius: var(--radius-md);
    font-size: var(--font-size-text-lg);
    padding: var(--space-6);
    margin-inline: var(--space-4);
    margin-bottom: var(--space-12);
}

.home-page .hero__actions {
    display: flex;
    gap: var(--space-4);
    margin-bottom: calc(var(--space-40) * 1.25);
}

.hero--internal {
    text-align: center;
    padding-block: var(--space-12);
    padding-inline: var(--space-4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services-page .hero--internal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/banners/banner-digital-wave-1.webp');
}

.works-page .hero--internal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/banners/banner-digital-wave-2.webp');
}

.process-page .hero--internal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/banners/banner-digital-wave-3.webp');
}

.about-page .hero--internal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/banners/banner-digital-wave-4.webp');
}

.careers-page .hero--internal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/banners/banner-digital-wave-4.webp');
}

.contact-page .hero--internal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/banners/banner-digital-wave-3.webp');
}

.hero--internal .hero__title {
    font-size: var(--font-size-title-lg);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-2);
}

@media (min-width: 768px) {
    .home-page .hero::before {
        background-size: 150%;
    }

    .hero--internal {
        padding-inline: var(--space-10);
    }
}

@media (min-width: 1024px) {
    .home-page .hero::before {
        background-size: 120%;
    }

    .home-page .hero__display {
        margin-top: calc(var(--space-20) * 1.4);
    }
    
    .home-page .hero__audience-item {
        color: var(--color-text-accent-white);
        background-color: var(--color-background-accent-grey-2);
        border-radius: var(--radius-md);
        padding-block: var(--space-2);
        padding-inline: var(--space-3);
        margin-right: var(--space-1);
    }

    .hero--internal {
        padding-block: var(--space-20);
        padding-inline: var(--space-20);
    }
}