.icon-wrapper--hamburguer, .icon-wrapper--close-drawer {
    border-radius: var(--radius-md);
    transition: background-color var(--motion-duration-medium) var(--motion-ease);
}

.icon-wrapper--hamburguer {
    padding: var(--space-3);
}

.icon-wrapper--close-drawer {
    padding: var(--space-2);
}

.icon-wrapper--hamburguer:hover, .icon-wrapper--close-drawer:hover {
    background-color: var(--color-background-hover-grey-1);
}

.icon-wrapper span:only-child {
    display: block;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

.icon-wrapper--hamburguer span:only-child, .icon-wrapper--close-drawer span:only-child {
    padding: var(--space-4);
    background-color: var(--color-white); 
    transition: background-color var(--motion-duration-medium) var(--motion-ease);
}

.icon-wrapper--hamburguer:hover span:only-child, .icon-wrapper--close-drawer:hover span:only-child {
    background-color: var(--color-background-accent-green-1);
}

.icon-wrapper--hamburguer span:only-child {
    mask-image: url('../../images/icons/menu-bar.svg');
    -webkit-mask-image: url('../../images/icons/menu-bar.svg');
}

.icon-wrapper--close-drawer span:only-child { 
    mask-image: url('../../images/icons/x-mark.svg');
    -webkit-mask-image: url('../../images/icons/x-mark.svg');
}

.icon-wrapper--social, .icon-wrapper--services, .icon-wrapper--benefits {
    width: max-content;
    padding: var(--space-3);
    border-radius: var(--radius-md);
    background: var(--color-background-icon-wrapper);
}

.icon-wrapper--services .icon-wrapper__icon, .icon-wrapper--benefits .icon-wrapper__icon {
    width: var(--space-8);
}

.icon-wrapper--open-faq {
    padding: var(--space-1);
    margin-left: var(--space-5);
}

.icon-wrapper--open-faq span:only-child {
    background-color: var(--color-white);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color var(--motion-duration-fast) var(--motion-ease);
    padding: var(--space-4);
    mask-image: url('../../images/icons/plus.svg');
    -webkit-mask-image: url('../../images/icons/plus.svg'); 
}

.faq__article details[open] .icon-wrapper__icon {
    background-color: var(--color-background-accent-green-1);
    transform: rotate(45deg);
}