.icon-wrapper span:only-child {
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

.icon-wrapper--hamburguer, .icon-wrapper--close-drawer {
    padding: var(--space-2);
    border-radius: var(--radius-sm);
    transition: background-color var(--motion-duration-slow) var(--motion-ease);
}

.icon-wrapper--hamburguer span:only-child {
    display: block;
    padding: var(--space-4);
    background-color: var(--color-white); 
    transition: background-color var(--motion-duration-slow) var(--motion-ease);
    mask-image: url('../../images/icons/menu-bar.svg');
    -webkit-mask-image: url('../../images/icons/menu-bar.svg');
}

.icon-wrapper--hamburguer:hover, .icon-wrapper--close-drawer:hover {
    background-color: var(--color-background-hover-grey-1);
}

.icon-wrapper--hamburguer:hover span:only-child {
    background-color: var(--color-background-accent-green-1);
}

.icon-wrapper--close-drawer span:only-child {
    display: block;
    padding: var(--space-4);
    background-color: var(--color-white); 
    transition: background-color var(--motion-duration-slow) var(--motion-ease);
    mask-image: url('../../images/icons/x-mark.svg');
    -webkit-mask-image: url('../../images/icons/x-mark.svg');
}

.icon-wrapper--social, .icon-wrapper--services, .icon-wrapper--benefits {
    width: max-content;
    padding: var(--space-3);
    border-radius: var(--radius-md);
    background: var(--color-background-icon-wrapper);
}

.icon-wrapper--services .icon-wrapper__icon, .icon-wrapper--benefits .icon-wrapper__icon{
    width: var(--space-8);
}