.home-page .our-services__intro {
    text-align: center;
    padding-block: var(--space-12);
    padding-inline: var(--space-4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-page .our-services__title {
    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-1);
}

@media (min-width: 1024px) {
    .home-page .our-services__intro {
        padding-block: var(--space-20);
    }
}