.home-page .our-services__intro, .home-page .benefits__intro, .home-page .testimonials__intro, .faq__intro {
    text-align: center;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-block: var(--space-12);
    padding-inline: var(--space-4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-page .our-services__title, .home-page .benefits__title, .home-page .testimonials__title, .faq__title {
    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-2);
}

@media (min-width: 1024px) {
    .home-page .our-services__intro, .home-page .benefits__intro, .home-page .testimonials__intro, .faq__intro {
        padding-block: var(--space-20);
    }
}