.navbar--main {
    display: none;
}

.navbar--main .navbar__link {
    padding-inline: var(--space-4);
    padding-block: var(--space-3);
}

.navbar--main .navbar__list {
    gap: var(--space-4);
}

.navbar--mobile {
    margin-inline: var(--space-4);
}

.navbar--mobile, .navbar--main .navbar__link {
    display: flex;
    border-radius: var(--radius-sm);
    transition: background-color var(--motion-duration-medium) var(--motion-ease);
}

.navbar--mobile .navbar__link {
    padding-inline: var(--space-3);
    padding-block: var(--space-2);
    margin-bottom: var(--space-2);
}

.navbar--mobile, .navbar--main .navbar__link[aria-current="page"] {
    color: var(--color-text-accent-white);
    background-color: var(--color-background-hover-grey-1);
}

.navbar--mobile, .navbar--main .navbar__link:hover {
    background-color: var(--color-background-hover-grey-1);
}

@media (min-width: 768px) {
    .navbar--main {
        display: flex;
    }

    .navbar--main .navbar__list {
        display: flex;
    }
}