.btn--secondary {
    display: block;
    border-radius: var(--radius-md);
    color: var(--color-text-accent-white);
    background-color: var(--color-background-accent-grey-2);
    text-align: center;
    transition: background-color var(--motion-duration-medium) var(--motion-ease);
    padding-block: var(--space-3);
    padding-inline: var(--space-5);
}

.btn--secondary:hover {
    background-color: var(--color-background-hover-grey-2);
}

.hero--main .btn--secondary {
    border: solid 1px var(--color-border-accent-grey);
    background-color: var(--color-background-accent-grey-1);
}

.hero--main .btn--secondary:hover {
    background-color: var(--color-background-hover-grey-1);
}

.home-page .our-services .btn--secondary {
    margin-top: auto;
}

.home-page .testimonials .btn--secondary {
    display: none;
    white-space: nowrap;
    margin-left: var(--space-5);
}

.works-page .works__list .btn--secondary {
    width: max-content;
    margin-left: var(--space-6);
    padding: calc(var(--space-2) * 1.3);
}

@media (min-width: 768px) {
    .home-page .testimonials .btn--secondary {
        display: block;
    }   
}

@media (min-width: 1024px) {
   .works-page .works__list .btn--secondary {
        padding: var(--space-3);
    } 
}