.social-links {
    border: solid 1px var(--color-border-accent-grey);
    border-radius: var(--radius-md);
    padding-block: var(--space-3);
    margin-top: var(--space-6);
}

.social-links__title {
    text-align: center;
    color: var(--color-text-accent-white);
}

.social-links__list {
    display: flex;
    gap: var(--space-2);
    margin-top: var(--space-3);
}

.social-links__link {
    display: block;
    width: max-content;
}