.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--color-border-accent-grey);
    border-radius: var(--radius-md);
    padding-block: var(--space-3);
    margin-top: var(--space-6);
}

.social-links__label {
    text-align: center;
    color: var(--color-text-accent-white);
}

.social-links__list {
    display: flex;
    gap: var(--space-2);
    margin-top: var(--space-3);
}

.social-links__link {
    display: block;
    width: max-content;
}

.contact-page .contact .social-links {
    border: none;
    padding-block: 0;
    padding-inline: var(--space-5);
}

@media (min-width: 768px) {
    .contact-page .contact .social-links {
        box-sizing: content-box;
        align-items: center;
        justify-content: center;
        flex: 1 1 50%;
        margin: 0;
        padding: var(--space-10);
    }
}

@media (min-width: 1024px) {
    .social-links {
        flex-direction: row;
        justify-content: center;
        gap: var(--space-4);
        padding: var(--space-3);
        margin-top: 0;
    }

    .social-links__list {
        margin-top: 0;
    }
}