.services-page .services {
    padding-top: var(--space-10);
}

.services-page .services__item {
    border-bottom: solid 1px var(--color-border-accent-grey);
}

.services-page .services__item:last-child {
    border: none;
}

.services-page .service__title {
    color: var(--color-grey-200);
    text-align: center;
    font-size: var(--font-size-title-sm);
    font-weight: var(--font-weight-subtitle);
    line-height: var(--line-height-heading);
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-10);
}

.services-page .service__list-feat {
    display: grid;
    grid-template-columns: 1fr;
}

.services-page .service__item-feat {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding: var(--space-5);
}

.services-page .service__item-feat:last-child {
    border-bottom: none;
}

@media (min-width: 375px) {
    .services-page .service__list-feat {
        grid-template-columns: 1fr 1fr;
    }

    .services-page .service__item-feat:nth-child(even) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .services-page .service__item-feat:nth-last-child(2) {
        border-bottom: none;
    }
}

@media (min-width: 768px) {
    .services-page .services {
        padding-top: var(--space-12);
    }

    .services-page .service__title {
        text-align: left;
        padding-inline: var(--space-10);
        padding-block: var(--space-12);
    }

    .services-page .service__item-feat {
        padding: var(--space-10);
    }
}

@media (min-width: 1024px) {
    .services-page .services {
        padding-top: var(--space-16);
    }

    .services-page .service__list-feat {
        grid-template-columns: repeat(4, 1fr);
    }

    .services-page .service__item-feat {
        border-bottom: none;
    }

    .services-page .service__item-feat:nth-child(3) {
        border-left: solid 1px var(--color-border-accent-grey);
    }
}