.works-page .works {
    padding-top: var(--space-10);
}

.works-page .works__list {
    display: grid;
    grid-template-columns: 1fr;
}

.works-page .works__item {
    display: grid;
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-bottom: var(--space-8);
}

.works-page .works__item:last-child {
    border-bottom: none;
}

.works-page .project {
    display: grid;
}

.works-page .project__title {
    color: var(--color-grey-200);
    font-size: var(--font-size-title-sm);
    font-weight: var(--font-weight-subtitle);
    line-height: var(--line-height-heading);
    border-bottom: solid 1px var(--color-border-accent-grey);
    padding-inline: var(--space-5);
    padding-block: var(--space-8);
}

.works-page .project__img {
    width: 100%;
    height: auto;
    padding-block: var(--space-6);
    padding-inline: var(--space-5);
}

.works-page .project__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-5);
    margin-bottom: var(--space-4);
}

.works-page .project__client-name {
    font-size: var(--font-size-text-lg);
    font-weight: var(--font-weight-subtitle);
    line-height: var(--line-height-heading);
}

.works-page .project__text {
    color: var(--color-grey-200);
    padding-inline: var(--space-5);
}

@media (min-width: 768px) {
    .works-page .works {
        padding-top: var(--space-12);
    }

    .works-page .works__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto; 
    }

    .works-page .works__item {
        grid-row: span 4; 
        grid-template-rows: subgrid;
        padding-bottom: var(--space-10);
    }

    .works-page .works__item:nth-child(even) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .works-page .works__item:nth-last-child(2) {
        border-bottom: none;
    }

    .works-page .project {
        grid-template-rows: subgrid;
        grid-row: span 4;
    }

    .works-page .project__title {
        display: flex;
        align-items: center;
        padding: var(--space-10);
        border-bottom: solid 1px var(--color-border-accent-grey);
    }

    .works-page .project__img {
        padding-block: var(--space-8);
        padding-inline: var(--space-10);
    }

    .works-page .project__info {
        padding-inline: var(--space-10);
    }
    
    .works-page .project__text {
        padding-inline: var(--space-10);
    }
}

@media (min-width: 1024px) {
    .works-page .works {
        padding-top: var(--space-16);
    }
}

@media (min-width: 1280px) {
    .works-page .works__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .works-page :is(.works__item:nth-child(3), .works-page .works__item:nth-child(5)) {
        border-left: solid 1px var(--color-border-accent-grey);
    }

    .works-page .works__item:nth-child(4) {
        border-left: none;
    }

    .works-page .works__item:last-child {
        border-right: solid 1px var(--color-border-accent-grey);
    }
}